
*{
	font-family: Open Sans;
	box-sizing: border-box;
}

nav {
	list-style-type: none;
	position: sticky;
	top: 0px;
	background-color: white;
	border-bottom: 1px solid black;
}
.nav-logo{
	display: inline-block;
	margin: 0.5rem;
}
.nav{
	display: inline-block;
	margin: 0.5rem;
}

.right-nav{
	display: inline;
	float: right;

}
.tuitt-button{
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	padding: 0.5rem;

}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 50vh;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
}

.title{
	font-family: Zilla Slab, sans-serif;
	color: white;
	text-align: right;
	font-size: 40px;
	padding-left: 55%;
	padding-right: 130px;
}

.subtitle{
	color: white;
	text-align: right;
	padding-left: 55%;
	padding-right: 130px;
}

.apply-button{
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	padding: 0.5rem;
	display: block;
	float: right;
	margin-right: 130px;
}
.title-2{
	text-align: center;
	font-family: Zilla Slab, sans-serif;
}

.pre-footer{
	background-color: #f7fbfb;
	text-align: centre;
	min-height: 300px;

}

.prefooter-description{
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
}

.book-button{
	background-color: #336589;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	padding: 0.5rem 2rem ;
	margin-left: 45%;
	margin-right: 45%;

}

footer{
	padding: 0.7rem;
	text-align: center;
}

footer span{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

